@charset "UTF-8";
/*css menu restaurant*/
@keyframes spin {
  0% {
    visibility: visible;
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: translate(-50%, -50%) rotate(340deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
  }
}
@keyframes progress-bar {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* apparition du full container après le loading*/
@keyframes opacity {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes width {
  0% {
    width: 100%;
  }
  20% {
    width: 75%;
    text-overflow: ellipsis;
  }
  100% {
    width: 70%;
    text-overflow: ellipsis;
  }
}
@keyframes checkout {
  0% {
    width: 20%;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}
@keyframes prix_out {
  0% {
    margin-left: -50px;
  }
  100% {
    margin-left: -20px;
  }
}
@keyframes prix {
  0% {
    margin-left: -50px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes width-out {
  0% {
    width: 100%;
  }
  20% {
    width: 95%;
    text-overflow: ellipsis;
  }
  100% {
    width: 90%;
    text-overflow: ellipsis;
  }
}
@keyframes width {
  0% {
    width: 100%;
  }
  20% {
    width: 75%;
    text-overflow: ellipsis;
  }
  100% {
    width: 70%;
    text-overflow: ellipsis;
  }
}
@keyframes check {
  0% {
    width: 20%;
  }
  100% {
    width: 0%;
  }
}
@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* animation loading spinner*/
@keyframes spin {
  0% {
    visibility: visible;
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: translate(-50%, -50%) rotate(340deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
  }
}
/* apparition du full container après le loading*/
@keyframes opacity {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* appartition progressive du remplissage du coeur*/
@keyframes progress-bar {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* animation apparition progressive des plats*/
@keyframes slidein {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(50%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*modification ombre bouton commander*/
@keyframes ombre {
  from {
    box-shadow: 10px 10px rgba(180, 74, 209, 0.158);
  }
}
body {
  font-family: "Roboto", sans-serif;
  padding: 0px 18px 0px 18px;
  margin: 0px;
  overflow-x: hidden;
}

.logo_ohmyfood {
  text-align: center;
  margin-top: -20px;
}

.logo {
  text-align: center;
  padding: 2rem 0.5rem 0.5rem 1rem;
}

.map {
  text-align: center;
  background-color: #c8cbce;
  box-shadow: inset 0px 5px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.map i {
  padding-right: 20px;
}

.info {
  background-color: #f1f1f3;
  padding: 20px 20px 40px 20px;
  text-align: center;
}

.titre {
  text-align: center;
}

.subtitre {
  text-align: center;
  font-weight: 300;
  padding: 0px 20px;
}

button {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(
    0deg,
    rgba(147, 86, 220, 0.9),
    rgba(255, 121, 218, 0.9)
  );
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}

button:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.filtre {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
  align-items: center;
  box-shadow: 0 6px 10px #0000004b;
  border-radius: 20px;
  background-color: #f0f0f0;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
}
.filtre:hover {
  cursor: pointer;
  background-color: #e4d5f685;
}
.filtre:hover .hover_color i {
  color: #9356dc;
}

.number_box {
  background: #9356dc;
  border-radius: 20px;
  padding: 0.5rem 0.8rem;
  margin-left: -70px;
}

.box_titre_1 {
  margin-right: -15px;
}

.choisir_box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.choisir_box i {
  color: #6a6767;
  font-size: 22px;
}

.item_green {
  position: absolute;
  text-align: center;
  right: 20px;
  font-size: small;
  font-weight: bold;
  background: #99e2d0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: green;
  padding: 7px 17px 7px 17px;
  bottom: 16rem;
}

.titre_4menu h2 {
  margin-left: 15px;
}

.restaurant_4menu {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  height: 100%;
  align-content: center;
}
.commander a:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.menuItem__confirmation {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.restaurant_list {
  border-radius: 15px;
  -webkit-box-shadow: 1.5px 2px 10px 0.1px rgba(0, 0, 0, 0.1);
  box-shadow: 1.5px 2px 10px 0.1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 1rem;
  position: relative;
  background-color: white;
  border-radius: 20px;
  position: relative;
  width: 40%;
  height: 300px;
}

.restaurant_img {
  object-fit: cover;
  width: 100%;
  max-height: 210px;
  min-height: 180px;
  border-radius: 20px 20px 0 0;
}

.text_restaurant {
  margin-top: -5px;
  margin-left: 10px;
}
.text_restaurant a {
  text-decoration: none;
  color: black;
}
.text_restaurant p {
  margin-top: -15px;
  font-size: 18px;
}
.text_restaurant i {
  position: absolute;
  top: 240px;
  right: 25px;
  font-size: 1.5rem;
}

.titre_restaurant {
  font-size: 20px;
}

.nom_restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem 0 2rem;
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  margin-left: -10px;
  font-size: 18px;
}
.nom_restaurant h2 {
  margin-top: 30px;
}
.nom_restaurant i {
  font-size: 22px;
  margin-top: 15px;
}

.icon_empty {
  position: absolute;

  right: 10px;
  opacity: 1;
  color: rgb(255, 255, 255);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.icon_empty:hover {
  color: #9356dc;
  background: linear-gradient(#9356dc, #ff79da);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: linear;
  transition: opacity 0.3s ease-in-out;
}

.icon_empty:focus {
  background: linear-gradient(#ff91e0, #9460d3);
  background: linear-gradient(#ff91e0, #9460d3);
}

footer {
  position: relative;
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
footer a {
  text-decoration-line: none;
  color: white;
}
footer ul {
  margin-top: -10px;
  margin-left: 10px;
}
footer ul li {
  list-style-type: none;
  margin-left: -20px;
  margin-top: 8px;
}
footer i {
  padding: 5px;
}

.titre_footer {
  color: white;
  font-family: "Shrikhand", cursive;
  font-weight: initial;
  margin-top: 1.5rem;
  margin-left: 30px;
}

span {
  color: white;
}

.no_icon a {
  padding-top: 10px;
}

.fonctionemment {
  text-align: center;
}

.icon_empty_menu {
  z-index: 2;
  right: 10px;
  opacity: 1;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.icon_empty_menu:hover {
  color: #9356dc;
  background: linear-gradient(#9356dc, #ff79da);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: 0.2s linear;
}

.list_menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.carte_menu1 {
  margin: 30px 0;
  animation: linear 2s slidein;
}

.carte_menu2 {
  margin: 20px 0;
  animation: linear 3s slidein;
}

.carte_menu3 {
  margin: 20px 0;
  animation: linear 4s slidein;
}

.carte_menu1 h3 {
  border-bottom: 4px solid #99e2d0;
  width: 10%;
  margin: 0 0 0 20px;
  padding: 0 0 8px 0;
  font-size: 16px;
}

.box_plat {
  padding: 0px 0px 0px 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.192);
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: auto;
  width: 90%;
  display: flex;
  height: 70px;
  background-color: white;
}
.box_plat:hover {
  cursor: pointer;
  transition: all 1s ease-out;
}
.box_plat:hover .prix p {
  animation: 0.5s ease-in reverse both prix;
}
.box_plat:hover .titre_plat p {
  overflow: hidden;
  white-space: nowrap;
  animation: 0.5s ease-in both width;
  text-overflow: ellipsis;
}
.box_plat:hover .check {
  opacity: 1;
  animation: 0.5s ease-in reverse both check;
}
.box_plat:hover .check i {
  animation: 0.5s alternate rotate;
}

.check {
  position: relative;
  background-color: #99e2d0;
  display: block;
  padding: 15px 0px;
  margin-top: 0;
  text-align: center;
  width: 0%;
  float: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  border-radius: 0px 20px 20px 0px;
  opacity: 0;
  animation: 0.5s ease-out checkout;
}
.check i {
  font-size: 20px;
  transition: transform 1s;
  margin-top: 10px;
  vertical-align: center;
  color: #f0f0f0;
}

.loader {
  position: fixed;
  z-index: 999;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #9356dc;
  border-bottom: 16px solid #9356dc;
  border-radius: 50%;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  animation: spin 2s linear;
  background-color: gainsboro;
  visibility: hidden;
}

.fond {
  width: 100%;
  top: 0%;
  bottom: 0%;
}

.prix {
  font-weight: bold;
  align-self: flex-end;
  margin-bottom: -9px;
}

.titre_plat {
  width: 85%;
  margin-left: 10px;
}
.titre_plat h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
  margin-top: 0.8em;
  font-size: 18px;
}
.titre_plat p {
  animation: 0.5s ease-in reverse both width-out;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: -18px;
  font-weight: 300;
}

.commander {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 40px;
}
.commander a {
  color: white;
  text-decoration: none;
  position: relative;
  background: linear-gradient(#ff79da, #9356dc);
  padding: 13px 45px;
  border-radius: 30px;
}
@media only screen and (max-width: 1124px) {
  .list_menu {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 1000px) {
  body {
    padding: 0px 0px 0px 0px;
    overflow-x: hidden;
  }

  .arrow_left {
    font-size: 20px;
    color: black;
    margin-top: 28px;
    margin-left: 10px;
  }

  .logo_ohmyfood {
    text-align: center;
    margin-top: 0;
  }

  .logo {
    width: 50%;
    padding: 1.5rem 1rem 0.5rem 1rem;
  }

  .map {
    height: 30px;
  }
  .map i {
    padding-right: 10px;
  }

  .searchterm {
    margin-top: 0.5rem;
  }

  .titre {
    text-align: center;
    font-size: 26px;
  }

  .info {
    background-color: #f1f1f3;
    padding: 20px 20px 40px 20px;
  }

  .fonctionemment {
    text-align: initial;
    font-size: 24px;
    margin-top: 50px;
  }

  .choisir_box {
    display: flex;
    flex-direction: column;
  }

  .filtre {
    width: 90%;
  }

  .titre_4menu {
    padding-bottom: 10px;
    margin-top: 50px;
    background-color: #f1f1f3;
    padding-top: 40px;
  }
  .titre_4menu h2 {
    margin-left: 25px;
  }

  .item_green {
    position: absolute;
    text-align: center;
    right: 20px;
    font-size: small;
    font-weight: bold;
    background: #99e2d0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    color: green;
    padding: 7px 17px 7px 17px;
    bottom: 15rem;
  }

  .restaurant_4menu {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding-left: 0px;
    background-color: #f1f1f3;
    padding-bottom: 60px;
  }

  .choisir {
    margin-left: 30px;
  }

  .check {
    position: relative;
    color: white;
    background-color: #99e2d0;
    display: block;

    text-align: center;
    width: 0%;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    border-radius: 0px 20px 20px 0px;
    opacity: 0;
    animation: 0.5s ease-out checkout;
  }

  .restaurant_list {
    background-color: white;
    border-radius: 20px;
    position: relative;
    width: 90%;
    height: max-content;
    margin-top: -10px;
  }

  .restaurant_img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 250px;
  }

  .text_restaurant {
    margin-top: -10px;
    margin-left: 10px;
  }
  .text_restaurant i {
    position: absolute;
    right: 25px;
    font-size: 1.5rem;
  }

  .prix {
    margin-right: 10px;
  }

  .titre_footer {
    margin-top: 1.5rem;
    margin-left: 20px;
  }

  footer ul {
    margin-top: -10px;
    margin-left: 0;
  }

  .header_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .image_rest img {
    border-radius: 0;
    object-position: bottom;
  }

  .menu {
    border-radius: 60px 60px 0 0;
    margin-top: -50px;
    position: relative;
    z-index: 10;
    background-color: #f2f2f2;
    width: 100vw;
    text-align: inherit;
    padding-bottom: 30px;
  }

  .list_menu {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
  }
}
@media only screen and (min-width: 1000px) {
  header.accueil {
    margin-top: 70px;
  }

  .logo_ohmyfood {
    text-align: center;
    margin-top: -70px;
  }

  .arrow_left i {
    font-weight: 900;
    margin-top: 50px;
    font-size: 25px;
  }

  .fonctionemment {
    padding-top: 20px;
  }

  .filtre {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 25%;
    align-items: center;
    box-shadow: 0 6px 10px #0000004b;
    border-radius: 20px;
    background-color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .number_box {
    margin-left: -14px;
  }

  .titre_4menu h2 {
    margin-left: 15px;
    margin-top: 50px;
  }

  footer {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
